# Main Results 1

In [1]:
import os
import numpy as np
from pandas import read_csv

In this notebook, we summarize the findings from our cursory literature review. Specifically, we report the frequency and type of screening methods used in our sample of online behavioral studies.

## Section 1: Summary Table

In [2]:
## Load literature review data.
data = read_csv(os.path.join('data', 'literature.tsv'), sep='\t')

#### 1.1 Overall Frequency

Below we calculate the overall rates of task-based and self-report-based screening in our sample.

In [3]:
data.filter(regex='screen').agg(['mean','sum','count']).round(2).T

                    mean   sum  count
survey_screen       0.39  19.0   49.0
behavior_screening  0.80  39.0   49.0

#### 1.2 Task Behavior Methods

In [4]:
## Define columns of interest.
cols = [
    "behavior_accuracy",         # screening by fraction of inaccurate responses
    "behavior_variability",      # screening by lack of behavioral variability
    "behavior_rt",               # screening by fraction of suspicious RTs
    "behavior_comprehension",    # screening by comprehension check items
    "behavior_other"             # screening by other method
]

## Compute tallies.
data.query('behavior_screening==True')[cols].agg(['mean','sum','count']).round(2).T

                        mean   sum  count
behavior_accuracy       0.46  18.0   39.0
behavior_variability    0.38  15.0   39.0
behavior_rt             0.18   7.0   39.0
behavior_comprehension  0.13   5.0   39.0
behavior_other          0.41  16.0   39.0

#### 1.3 Self-Report Behavior Methods

In [5]:
## Define columns of interest.
cols = [
    "behavior_accuracy",         # screening by fraction of inaccurate responses
    "behavior_variability",      # screening by lack of behavioral variability
    "behavior_rt",               # screening by fraction of suspicious RTs
    "behavior_comprehension",    # screening by comprehension check items
    "behavior_other"             # screening by other method
]

## Compute tallies.
data.query('behavior_screening==True')[cols].agg(['mean','sum','count']).round(2).T

                        mean   sum  count
behavior_accuracy       0.46  18.0   39.0
behavior_variability    0.38  15.0   39.0
behavior_rt             0.18   7.0   39.0
behavior_comprehension  0.13   5.0   39.0
behavior_other          0.41  16.0   39.0

In [6]:
## Define columns of interest.
cols = [
    "survey_attention_check",                # screening by attention check (overall)
    "survey_attention_check_instructed",     # screening by attention check (instructed)
    "survey_attention_check_unspecified",    # screening by attention check (unspecified)
    "survey_unobtrusive"                     # screening by statistical method
]

## Compute tallies.
data.query('survey_screen==True')[cols].agg(['mean','sum','count']).round(2).T

                                    mean   sum  count
survey_attention_check              0.89  17.0   19.0
survey_attention_check_instructed   0.53  10.0   19.0
survey_attention_check_unspecified  0.26   5.0   19.0
survey_unobtrusive                  0.21   4.0   19.0